// Copyright 2010-2016 Will Scullin

@import './colors';

img {
  border: 0;
}

#badge {
  cursor: pointer;
  padding: 0 12px;
}

h1 {
  color: $white;
  font-family: Helvetica, Ariel;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0 0 10px;
}

h2 {
  color: $white;
  font-family: Helvetica, Ariel;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0 0 10px;
}

input {
  [type='button'] {
    width: 75px;
  }

  [type='text'] {
    width: 40px;
  }
}

body {
  background-color: $background-color;
  color: $white;
  font-size: 10px;
  margin: 16px 0;
}

#display {
  margin: 5px 0;
}

.overscan {
  background-color: $black;
  border: 6px solid $border-color;
  border-radius: 10px;
  height: 384px;
  margin: auto;
  padding: 16px;
  position: relative;
  width: 560px;
}

.code {
  font-family: Courier;
  font-size: 14px;
  white-space: pre;
}

.inset {
  background: $inset-background-color;
  border: 3px solid $border-color;
  border-radius: 6px;
  margin: 10px 0;
  padding: 6px;
  position: relative;
  width: 590px;
}

#speed {
  margin: 9px 0;
  width: 200px;
}

#khz {
  background: $black;
  border: 2px solid $border-color;
  border-radius: 4px;
  color: $white;
  float: left;
  font-family: Courier;
  font-size: 12px;
  height: 15px;
  margin-right: 4px;
  padding: 4px;
  text-align: right;
  width: 60px;
}

canvas {
  cursor: crosshair;
  height: 384px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 560px;
}

:-webkit-full-screen {
  #display {
    height: 100%;
    width: 100%;
  }

  @media (min-device-width: 1120px) {
    background: $black;

    .overscan {
      border: 0 none;
      height: 768px;
      width: 1120px;
    }

    canvas {
      height: 768px;
      width: 1120px;
    }
  }
}

#scanlines {
  cursor: crosshair;
  height: 384px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 560px;
  z-index: 1;
}

#text_input {
  font-family: Courier, fixed;
}

@import './keyboard';
@import './player';
